.footer-logo-copywrite-max-width {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo-copywrite-image {
  width: auto;
  height: 3rem;
  object-fit: cover;
  text-decoration: none;
}
.footer-logo-copywrite-link {
  color: var(--dl-color-scheme-lightblue);
  align-self: center;
  text-decoration: none;
}
.footer-logo-copywrite-text1 {
  font-weight: 700;
}
.footer-logo-copywrite-text5 {
  font-weight: 700;
}
@media(max-width: 1200px) {
  .footer-logo-copywrite-text1 {
    font-weight: 700;
  }
  .footer-logo-copywrite-text3 {
    font-weight: 700;
  }
  .footer-logo-copywrite-text5 {
    font-weight: 700;
  }
}
@media(max-width: 479px) {
  .footer-logo-copywrite-max-width {
    flex-direction: column;
  }
  .footer-logo-copywrite-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-logo-copywrite-link {
    text-align: center;
  }
}
